.. list-table:: {{ pattern.name }} Comparison
   :widths: auto
   :header-rows: 1

   * - Language
{%- for param in display_parameters %}
     - {{ param.name|replace('_', ' ')|capitalize }}
{%- endfor %}
{%- for instance in instances %}
   * - {{ instance.name }}
{%- for param in display_parameters %}
     - {% set ns = namespace(val="N/A") -%}
       {%- for assignment in instance.assignments -%}
         {%- if assignment.name == param.name -%}
           {%- set ns.val = assignment.value -%}
         {%- endif -%}
       {%- endfor -%}
       {{ ns.val|format_value|format_table_cell(is_code=(param.name != 'notes'), lexer=instance.name|get_lexer)|indent(7) }}
{%- endfor %}
{%- endfor %}
