.. list-table:: {{ pattern.name }} Comparison
   :widths: 20 60 20
   :header-rows: 1

   * - Language
     - Syntax
     - Notes
{%- for instance in instances %}
   * - {{ instance.name|replace('_', ' ') }}
     - {% set ns = namespace(syntax="N/A", notes="N/A") -%}
       {%- for assignment in instance.assignments -%}
         {%- if assignment.name == 'syntax' -%}
           {%- set ns.syntax = assignment.value -%}
         {%- elif assignment.name == 'notes' -%}
           {%- set ns.notes = assignment.value -%}
         {%- endif -%}
       {%- endfor -%}
       {{ ns.syntax|format_value|format_table_cell(is_code=true)|indent(7) }}
     - {{ ns.notes|format_value|format_table_cell(is_code=false)|indent(7) }}
{%- endfor %}
