Language,{{ pattern_names|join(',') }}
{%- for row in matrix %}
"{{ row.language }}",{% for cell in row.cells -%}
"{{ cell|format_value|replace('"', '""') }}"{{ "," if not loop.last }}
{%- endfor %}
{%- endfor -%}
