.. list-table:: Pattern Comparison Matrix
   :widths: auto
   :header-rows: 1

   * {% for header in headers -%}
     - {{ header }}
     {% endfor %}
{%- for row in matrix %}
   * - {{ row.label }}
{%- for cell in row.cells %}
     - {{ cell.value|format_value|format_table_cell(is_code=True, lexer=cell.lexer)|indent(7) }}
{%- endfor %}
{%- endfor %}
